#all-blogs {
margin: 5rem auto;
}

#all-blogs h1 {
text-align: center;
font-size: 2rem;
color: #2e2e2e;
margin: 3rem 0;
}

.cards-container {
	break-inside: avoid;
}

.cards-container .card {
	transform: translateZ(0);
	display: inline-block;
	overflow: visible;
}

.cards-container .card .material-icons {
	z-index: 5;
}

@media only screen and (max-width: 600px) {
	.cards-container {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width: 601px) {
	.cards-container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media only screen and (min-width: 993px) {
	.cards-container {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

.text-center {
	text-align: center;
}

/*#all-blogs ul {*/
/*list-style: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*!*display: grid;*!*/
/*!*grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));*!*/
/*!*gap: 2px;*!*/
/*}*/

/*.post img {*/
/*width: 7rem;*/
/*height: 7rem;*/
/*}*/

/*.post a {*/
/*height: 22rem;*/
/*transform-origin: center;*/
/*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
/*border-radius: 12px;*/
/*background-color: white;*/
/*}*/