@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Patrick+Hand&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

#all-blogs {
    margin: 5rem auto;
}

#all-blogs h1 {
    text-align: center;
    color: #2e2e2e;
    margin: 8rem 0 3rem 0;
    font-family: 'Satisfy', cursive;
}

.grid {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    width: 25rem;
    max-width: 95%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 1rem;
    border-radius: 0 0 12px 12px;
}

.img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
}

.card-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem 2rem;
    justify-content: center;
    text-align: center;
}

.card-contents h4 {
    color: darkred;
    font-family: 'Otomanopee One', sans-serif;
}

.btn-wrapper {
    margin-top: 1rem;
}

.btn-wrapper a {
    text-decoration: none;
    margin-top: 2rem;
}

.btn-wrapper a button {
    background-color: transparent;
    font-weight: 700;
    font-size: 15px;
    outline: none;
    color: darkred;
    border: 2px solid;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-wrapper a button:hover {
    color: black;
    border: 2px solid;
}
