@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Patrick+Hand&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DE6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFB88C, #DE6262); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba(0, 0, 0, 0.4);
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    z-index: 10000;
}

nav .nav-wrapper {
    background-color: darkred;
}

nav .nav-wrapper .brand-logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-left: 1vw;
}


.page-footer {
    background-color: darkred;
    position:relative;
    bottom:0;
    width:100%;
}

.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.4);
}