{% load static %}

<div class="card">
    <div class="img-container">
        <img src="{% static 'images/bg1.jpg' %}" alt="#">
    </div>
    <div class="card-contents">
        <div class="title">
            <h4>{{ blog.title }}</h4>
        </div>
        <div class="excerpt">
            <p>{{ blog.excerpt }}</p>
        </div>
        <div class="btn-wrapper">
            <a href="{% url 'detail_blogs' blog.id %}">
                <button>Read More!</button>
            </a>
            {% if request.user == blog.author %}
                <a href="{% url 'delete_blog' blog.id %}">
                    <button>Delete Blog</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>

