{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}
    All Blogs
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/all_blogs.css' %}">
{% endblock %}


{% block content %}
    <section id="all-blogs">
        <h1>All blogs</h1>

        <div class="container">
            <div class="row">
                <div id="toggle-container" class="col s12 cards-container">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/bg1.jpg' %}" alt="#">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Card Title<i
                                    class="material-icons mdi-navigation-more-vert right"></i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i
                                    class="material-icons right mdi-navigation-close"></i></span>
                            <p>Here is some more information about this product that is only revealed once clicked
                                on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{##}
{#{% block content %}#}
{#    <section id="all-blogs">#}
{#        <h1>All blogs</h1>#}
{#        <ul>#}
{#            {% for post in all_posts %}#}
{#                {% include 'blog/includes/post.html' %}#}
{#            {% endfor %}#}
{#            <li>#}
{#                <div class="row">#}
{#                    <div class="col s12 m6 l3">#}
{#                        <div class="card">#}
{#                            <div class="card-image">#}
{#                                <img src="{% static 'images/bg1.jpg' %}" alt="#">#}
{#                                <span class="card-title">Card Title</span>#}
{#                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i#}
{#                                        class="material-icons">add</i></a>#}
{#                            </div>#}
{#                            <div class="card-content">#}
{#                                <p>I am a very simple card. I am good at containing small bits of information. I am#}
{#                                    convenient because I require little markup to use effectively.</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{##}
{#            <li>#}
{#                <div class="col s12 m7">#}
{#                    <h2 class="header">Horizontal Card</h2>#}
{#                    <div class="card horizontal">#}
{#                        <div class="card-image">#}
{#                            <img src="{% static 'images/bg1.jpg' %}" alt="#">#}
{#                        </div>#}
{#                        <div class="card-stacked">#}
{#                            <div class="card-content">#}
{#                                <p>I am a very simple card. I am good at containing small bits of information.</p>#}
{#                            </div>#}
{#                            <div class="card-action">#}
{#                                <a href="#">This is a link</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </section>#}
{##}
{#{% endblock %}#}