<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}NITH Blogs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now "U" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
<div class="navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">blogs-for-us</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'all-blogs' %}">All Blogs</a></li>
                <li><a href="{% url 'write_blog' %}">Write a Blog</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">My Blogs</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}" class="brand-logo">blogs-for-us</a>
        </li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'all-blogs' %}">All blogs</a></li>
        <li><a href="{% url 'write_blog' %}">Write a Blog</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">My Blogs</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</div>


{% block content %}{% endblock %}
{% block js_files %}{% endblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">blogs-for-us</h5>
                <p class="grey-text text-lighten-4">A blog service started by students at NITH for the students of
                    NITH.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'home' %}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'all-blogs' %}">Read all Blogs</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'write_blog' %}">Write a Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Kratika Mittal © 2021 All rights reserved.
        </div>
    </div>
</footer>

<!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    // Or with jQuery

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

</body>
</html>



