<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}NITH Blogs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now "U" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
<div class="navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">blogs-for-us</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Mobile</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
    </ul>
</div>


{% block content %}{% endblock %}
{% block js_files %}{% endblock %}

<!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    // Or with jQuery

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

</body>
</html>