{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}
    Create Account
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}?{% now "U" %}">
{% endblock %}

{% block content %}
    <main>
        <section class="content">
            <h2>~ Login to your Account ~</h2>
            <form action="{% url 'login' %}" method="POST" class="my-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-control {% if field.errors %}invalid{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="btn-wrapper">
                    <button type="submit">Log in</button>
                    <p>Does not have an account? <a href="{% url 'register' %}">Register here!</a></p>
                </div>
            </form>
        </section>
    </main>
{% endblock %}